/*?------------------- GLOBAL-------------------------------- */
body {
    font-family: "Montserrat", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ol,
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*!----------------------------------------------------------- */

/*?----------------HEADER------------------------------------- */
.header {
}
.header-nav {

}
.header-logo-italic{
        font-style: italic;
}

.header-nav-logo {
    color: #111;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em;
        margin-right: 413px;
}

.headern-n-logo-img {}


.header-menu-list {
}

.header-menu-item {

}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active{
    color: #FD9222;
}

.header-soc-list {
    display: flex;
}

.header-soc-item {}

.header-soc-link {}

/*!-------------------------------------------------------------- */
/*?-----------------HERO----------------------------------------- */
.hero {
    background: rgba(17, 17, 17, 0.60);
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.03em;
}


.hero-bye-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
        border-radius: 100px;
            background-color: #FD9222;
}

.hero-made-btn {
    color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            border: 1px solid #FFF;
}

.hero-down-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;

}
/*!-------------------------------------------------------------- */
/*?--------------- features-------------------------------------- */
.features {
    background: #1E1823;
}

.features-list {}

.features-item {}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.03em;
}
/* !---------------------------------------------------------------- */
/*? ----------------taste--------------------------------------------*/
.taste {}

.taste-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}
.taste-title span{
    color: #FD9222;
}
.taste-text {
    color: #111;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.03em;
}

.taste-list {}

.taste-item {}

.taste-subtitle {
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.taste-item-img {}
/* !--------------------------------------------------------------- */
/* ?-----------------made------------------------------------------ */
.made {}

.made-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}
.made-title span{
    color: #FD9222;
}

.made-t-img {}

.made-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
}

.made-list {}

.made-item {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.03em;
}
/* !--------------------------------------------------------------- */
/*?----------------- products-------------------------------------- */
.products {}

.products-title {
    color: #111;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}
.products-title span{
    color: #FD9222;
}

.products-list {}

.products-item {}

.products-img {}

.products-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

.products-item-text {
    color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: -0.02em;
}

.products-item-btn {
    color: #111;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FAFAFA;
}
/* !----------------------------------------------------------------- */
/*?--------------------sellers--------------------------------------- */
.sellers {}

.sellers-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
 .sellers-title span{
    color: #FD9222;
    text-align: center;
 }

.sellers-list {}

.sellers-item {}

.sellers-img {}

.sellers-subtitle {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02;
        text-transform: uppercase;
}
/* !------------------------------------------------------------------ */
/* ?-------------------loved------------------------------------------ */
.loved {}

.loved-title {
    color: #111;
    font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        text-align: center;
}
.loved-title span{
    color: #FD9222;
    text-align: center;
}

.loved-list {}

.loved-item {}

.loved-img {}

.loved-subtitle {
    color: #111;
    text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
}

.loved-item-text {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
}

.loved-btn {
    color: #111;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
        border: 1px solid #FD9222;
}
/*!------------------------------------------------------------------- */
/* ?--------------------footer---------------------------------------- */
.footer {
    background: #1E1823;
}

.footer-heading {
    color: #FFF;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.02em;
}
.footer-heading span{
    color: #FD9222;
}

.footer-subtitle {
    color: #FFF;
    text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
}

.footer-soc-list {}

.footer-soc-item {}

.footer-soc-link {}

.footer-address {}

.footer-address-list {}

.footer-addres-item {

}

.footer-addres-link {
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

.footer-navigation {}

.footer-menu-list {}

.footer-menu-item {}

.footer-menu-link {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
}
.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
    color: #FD9222;
}
/* !------------------------------------------------------------------ */